{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block login %}{{ super() }}{% endblock %}

{%  block body %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Scrum Master Login</h4>
      </div>
      <div class="modal-body">
               <form method="POST" action="">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">admin</span>
                <div style="color:#363887">  {{form.username(class="form-control",placeholder="Username",style="color:#363887")}}</div>
                </div>
                <p></p>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">default</span>
                <div > {{form.password(class="form-control",placeholder="Password",style="color:#363887")}}</div>
                    </div>
                <p></p>
                <div >{{ form.submit(class="btn btn-primary") }}</div>
               </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
